<!DOCTYPE HTML>
<html ng-app="clientApp">
<head>
	<meta charset="UTF-8">
	<title>NAME - SM Template</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body ng-controller="mainCtrl">


	<!-- CONTENT -->
	<section class="container">

		<div class="row">
			<div class="col-sm-12">
				<h2>Content</h2>

				<ol>
					<li><a href="elements.html" target="_blank">Bootstrap Elements</a></li>
				</ol>
			</div>
		</div>


		<div class="row" ng-cloak>
			<div class="col-sm-12">
				<h3>ANGULAR</h3>

				<b>myVar=</b> {{myVar}}
				<p class="alert alert-success" ng-show="myVar">Angular works OK !!!</p>
			</div>
		</div>

	</section>
	<!-- /CONTENT -->



	<!-- JS libs -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>

	<!-- Angular app -->
	<script src="ng.js"></script>


</body>
</html>
